$ng-mat-blog-blue: (
    50 : #e1e7ea,
    100 : #1a779e, // Lighter
    200 : #839da9,
    300 : #517686,
    400 : #2c586c,
    500 : #073b52, // Default
    600 : #06354b,
    700 : #052d41, // Darker
    800 : #042638,
    900 : #021928,
    A100 : #63b1ff,
    A200 : #3097ff,
    A400 : #007efc,
    A700 : #0071e2,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
