<section>
  <ng-container>
    <div class="form-container">
      <div class="big">
        <img src="assets/images/lock.svg" id="lock" />
      </div>

      <span class="error" *ngIf="error">{{ error }}</span>

      <div class="column">
        <div class="row">
          <button mat-button class="button" (click)="loginGoogle()" id="google">
            Login With Google
          </button>
        </div>
        <div class="row">
          <button
            mat-button
            class="button"
            routerLink="/login-email"
            id="email"
          >
            Email
          </button>
        </div>
      </div>

      <a routerLink="/signup" routerLinkActive="active" class="alc"
        >No account? <strong>Create one here</strong></a
      >
    </div>
  </ng-container>
</section>
